.subs {
  &__create {
    margin-top: 15px;
    &-block {
      width: 100%;
      background-color: #fff;
      padding: 10px;
      border-radius: 10px;
      &__line {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #eee;

        &:last-child {
          border-bottom: none;
        }

        & label {
          width: 30%;
        }

        & input {
          width: 70%;
          text-align: right;
          font-size: 16px;
        }

      }

      &__btn {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 15px 0;
        input {
          width: 100%;
          padding: 15px;
          font-family: 'Gilroy';
          font-size: 14px;
          font-weight: bold;
          color: #fff;
          background-color: #1A70FE;
          border-radius: 5px;
        }
        
      }
    }

  }
}
