.subs {
  color: #454763;
  margin-top: 10px;
  display: grid;
  gap: 15px;
  grid-template-columns: 100%;

  &__header {
    display: flex;
    justify-content: space-between;

    &-create {
      background-color: #6B749D;
    }
  }

  &__wallet {
    padding: 15px;
    background: linear-gradient(36.28deg, #702FF4 0%, #7E42F6 100%);
    border-radius: 10px;
    color: #fff;

    &-title {
      color: #fff;
    }

    &-amount {
      font-size: 32px;
      font-weight: bold;
      margin-top: 10px;
    }
  }

  &__content {
    display: grid;
    gap: 10px;
    grid-template-columns: minmax(0, 1fr);
    padding-bottom: 20px;

    &__wrapper {
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
      border-radius: 5px;
      background-color: #F9F9F9;
    }

    &-item {
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;

      &-controls {
        display: flex;
        justify-content: right;
        border-radius: 10px;
        padding: 15px;
        height: 80px;
        gap: 10px;

        &-btn {
          background-color: #1A70FE;
          border-radius: 5px;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          cursor: pointer;
        }

      }


      &-img {
        flex-basis: 5%;
        min-width: 50px;
        margin-right: 10px;
      }

      &-wrapper {
        flex-basis: 60%;
      }

      &-amount {
        text-align: right;
        flex-basis: 25%;
      }
    }
  }

}
